.HeaderBlog {
    background-color: rgba(105, 105, 105, 0.561);

}

.headlineBlog {
    font-size: 3rem;
    padding: 10rem auto 3rem auto;
    text-align: center;
}

.descrBlog {
    font-size: 1.8rem;
    margin-top: 2rem;
    text-align: center;
}

.big {
    font-weight: bolder;
    color: purple;
}

.postListWrapper {
    width: 90%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.postListWrapper img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin: 0 auto;
}



.BtnWrapper {
    padding: 1rem;
    position: fixed;
    bottom: 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(105, 105, 105, 0.9);

}